.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}


.task-input {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.task-input input[type="text"] {
  flex: 1;
  padding: 0.5rem;
}

.task-input select,
.task-input input[type="date"],
.task-input button {
  padding: 0.5rem;
}

/* List item styles */
.task-list li {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
  align-items: center;
  background: #f9f9f6;
  font-weight: bold;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  border-style: outset;
}

.task-main {
  flex: 1;
  cursor: pointer;
}

/* date text */ 
.task-meta {
  display: flex;
  gap: 1rem;
  font-size: 0.8rem;
  color: #666;
}

.priority {
  padding: 2px 6px;
  border-radius: 4px;
  color: white;
}

.priority.low { background-color: #3b82f6; }
.priority.medium { background-color: #f59e0b; }
.priority.high { background-color: #ef4444; }

.done .task-text {
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
  color: gray;
}

.task-list li.done {
  border-style: inset;
  background-color: #c0e9c9;
}

/* Base light mode for the body */
body {
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: #fff9e3;
  color: #333;
  padding: 2rem;
  transition: background 0.3s, color 0.3s;
}

/* Heading styles for light mode */

.app {
  max-width: 600px;
  margin: auto;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

/* Dark mode applied to body */
body.dark {
  background: #1e1e1e;
  color: #eee; 
}

/* Heading styles for dark mode */

body.dark .app {
  color: #eee;
}

body.dark .task-list li {
  background: #333;
  color: #eee;
}

body.dark .task-input input,
body.dark .task-input select,
body.dark .task-input button {
  background: #1e1e1e;
  color: #eee;
  border: 1px solid #aaa;
}

body.dark .task-meta{
  color: #aaa;
}

.priority.low { background-color: #3b82f6; }
.priority.medium { background-color: #f59e0b; }
.priority.high { background-color: #ef4444; }

body.dark .task-list li.done {
  background-color: #c0e9c9;
}